/** Now Playing **/
.now-playing__name {
  font-size: 1.2em;
  margin-bottom: 0.2em;
}
.now-playing__artist {
  margin-bottom: 0.8em;
  font-weight: 200;
}
.now-playing__status {
  margin-bottom: 0.8em;
}
.now-playing__img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 45%;
}
.now-playing__img img {
  max-width: 80vmin;
  width: 100%;
}
.now-playing__side {
  margin-left: 5%;
  width: 45%;
  min-width: 400px;
}
/** Progress **/
.progress {
  border: 1px solid #eee;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  
}
.progress__bar {
  background-color: #eee;
  height: 4px;
}

.action-buttons {
  
}

.action-buttons:hover {
  color:#cccccc;
  font-size: 2.6em;
}